Sign4.mkv
Sign_and_person.mkv
Sign_and_person3.mkv
*.pyc
baseline/Code/PC/Videos/Sign3.mkv
*/yolov3_cfg_62000.weights
baseline/Code/PC/yolo_sign_v2/yolov3_cfg_72000.weights
baseline/Code/PC/yolo_sign_v2/yolov3_cfg_81000.weights